{{> head }}

{{> navbar }}

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-8">
            <h1>Minha Fotografia</h1>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="assets/img/myphoto.jpeg" alt="Minha Foto">
        </div>
    </div>
</div>


{{> footer }}
